[submodule "Cream/dependencies/vendor/spdlog"]
	path = Froth/dependencies/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Cream/dependencies/vendor/GLFW"]
	path = Froth/dependencies/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Cream/dependencies/vendor/glm"]
	path = Froth/dependencies/vendor/glm
	url = https://github.com/g-truc/glm.git
